/*Header begins*/
.header{

  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  padding-bottom: 6px;
}

.headerName{

  margin-left: 4%;
  margin-top: 4%;
}

.headerTitle{
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: #000;
  width: 145px;
  justify-content: center;
}

.headerPic{

  margin-top: 3px;
  border-radius: 20px;
}

/*Header Ends*/

/*Navbar Begins*/

.nav{

  display: flex;
  justify-content: space-between;
  background-color: #000080;
  padding-bottom: 1px;
}

.nav a{

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background-color: #000080 !important;
}

.nav a:hover{

  background-color: #000080 !important;  
}
/*Navbar Ends*/

/*Cards Begin*/

.card{

  width: 90%;
  margin: 4% 5%;
}

.cardTitle{

  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  color: #1b809e;
  width: 82%;
  margin: 14px 8px 0px 9px;
}

.cardHeader{

  padding-bottom: 10px;
}

.dateSlider{

  width: 96%;
  margin: auto;
  margin-top: 2px;
}

.titleBlock{

  display: flex;
}

.cardOrganiser{

  margin: 9px 0px 8px 8px;
  font-size: 14px;
  font-weight: 500;
}

.cardOrganiserPic{

  width: 36px;
  height: 36px;
  box-shadow: 3px 3px 8px #175e7c;
  margin: 8px 8px 3px 0px;
}

.date{

  display: flex;
}

.dateLabel,.dateTitle{

  margin-left: 7px;
  font-size: 14px;
  font-weight: 500;
}

.cardFooter{

  background-color: #000080;
  display: flex;
  padding: 6px;
  justify-content: center;
}

.calenderTitle{

    margin-bottom: 0px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
}
/*Cards Ends*/
