body{

  box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
  width: 500px; 
  background-color: #fff;
  height: 590px;
}

/*Header begins*/
.bs-component{

}

.header{

  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  padding-bottom: 6px;
}

.headerName{

  margin-left: 4%;
  margin-top: 4%;
}

.headerTitle{
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: #000;
  width: 145px;
  justify-content: center;
}

.headerPic{

  margin-top: 3px;
  border-radius: 20px;
}

/*Header Ends*/

/*Navbar Begins*/

.nav{

  display: flex;
  justify-content: space-between;
  background-color: #9575CD;
  padding-bottom: 1px;
}

.nav a{

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background-color: #9575CD !important;
}

.nav a:hover{

  background-color: #9575CD !important;  
}
/*Navbar Ends*/

.settingsPane{

  display: flex;
  justify-content:flex-end;
  margin-top: 14px;
}

.optionsMenu{

  font-size: 15px;
  font-weight: 400;
}

.upcomingCategory{

  display: none;
}

.categories{

  color: #242424;
  font-weight: 500;
  font-size: 15px;
  margin: 4px 0px 0px;
  height: 20px;
  position: absolute;
  left: 26px;
}

.fa-Icon{

  font-size: 24px;
  color:#9575CD;
}

.settings{

  margin: 1px 25px 0px 18px;
}

/*Cards Begin*/

#Hackathons, #Hiring, #DataScience{

  display: none;
}

#Hackathons_Active , #Hackathons_Upcoming , #Hiring_Active, #Hiring_Upcoming, #DataScience_Active, #DataScience_Upcoming, #Contests_Upcoming{

  display: none;
}

#DataScience .date{

  display: none !important;
}

#DataScience .dateSlider{

  display: none !important;
}

#Contests .location{

  display: none !important;  
}

#Hiring .location{

  display: none !important;  
}

#DataScience .location{

  display: none !important;  
}

.date{

  display: flex;
  justify-content: space-between;
}

.cards{

  overflow-y: scroll;
  width: 99.7%;
  height: 448px;
}

.card:first-child{

  margin:2% 5% 0% 5%;
}

.card{

  width: 90%;
  margin: 4% 5% 0% 5%;
  box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}

.cardTitle{

  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  color: #1b809e;
  width: 82%;
  margin: 14px 8px 0px 9px;
}

.cardHeader{

  padding-bottom: 10px;
}

.dateSlider{

  width: 96%;
  margin: auto;
  margin-top: 2px;
}

.titleBlock{

  display: flex;
}

.cardOrganiser{

  margin: 9px 0px 8px 8px;
  font-size: 14px;
  font-weight: 500;
}

.cardOrganiserPic{

  width: 36px;
  height: 36px;
  box-shadow: 1px 1px 5px #175e7c;
  margin: 8px 8px 3px 0px;
}

.date{

  display: flex;
}

.dateLabel,.dateTitle{

  margin-left: 7px;
  font-size: 13px;
  font-weight: 400;
}

.timeTile{

  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.durationTile{

  display: flex;
  margin-left: 7px;
  font-size: 13px;
  font-weight: 400;
}

.durationIcon{

  margin: auto;
}

.durationLabel{

  margin-left: 4px;
}

.timeIcon{

  margin: auto;
  margin-right: 4px;
}

.time{

  margin-right: 8px;
  font-size: 13px;
  font-weight: 400;
}

.timeStamp{

  display: flex;
}

.cardFooter{

  background-color: #9575CD;
  display: flex;
  padding: 6px;
  justify-content: center;
}

.calenderTitle{

    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
}

.calenderTitle a{

    color: #fff !important;
}

.calenderTitle a{

    color: #fff !important;
    text-decoration: none;
}

.fa-locate{

    font-size: 14px;
    margin-top: 1px;
}

.locationText{

    margin-right: 7px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
}

/*Cards Ends*/

/*Modal Begins*/

#optionsModal{

  width: 335px;
  margin: 66px 0px 0px 92px;
}

.headerCheckbox{

  display: flex;
}

.checkboxIcon{
    margin: 3px 0px 0px 4px;
    font-size: 15px;
}

.checkboxHeader{

  font-size: 15px;
  font-weight: 400;
}

.check{

  width: 15px !important;
  height: 15px !important;
  margin-right: 6px !important;
}

.checkbox .checkbox-material .check:before {

    margin-top: -7px !important;
    margin-left: 5px !important;
}  

.oddCheckbox{

  width: 50%;
  float: left;
  margin-top: 10px !important;
} 

.evenCheckbox{

  width: 50%;
  float: right;
  margin-top: 10px !important;
} 

.modal-dialog{

  width: 100%;
}

.modal-body{

  height: 336px;
}

.modal-open{

  padding-right: 0px !important;
}
  
.checkbox label, .radio label, label {
    font-size: 13px;
    font-weight: 500;
    color: #242424;
}

.modal-title{

  font-weight: 500;
}
/*Modal Ends*/
/*Loader Begins*/

.dots {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  outline: 1px solid red;
}

.dot {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 100000;
}

{
    opacity:0.7;
    background-color:#000 !important; 
    width:100%; 
    height:100%; 
    z-index:10000;
    top:0; 
    left:0; 
    position:fixed; 
  }

.dot:before {
  content: '';
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background: #FBD301;
  position: absolute;
  left: 50%;
  transform: translateY(0) rotate(0deg);
  margin-left: -17.5px;
  margin-top: -17.5px;
}

@keyframes dot-move {
  0% {
    transform: translateY(0);
  }
  18%, 22% {
    transform: translateY(-70px);
  }
  40%, 100% {
    transform: translateY(0);
  }
}

@keyframes dot-colors {
  0% {
    background-color: #FBD301;
  }
  25% {
    background-color: #FF3270;
  }
  50% {
    background-color: #208BF1;
  }
  75% {
    background-color: #AFE102;
  }
  100% {
    background-color: #FBD301;
  }
}

.dot:nth-child(5):before {
  z-index: 100;
  width: 45.5px;
  height: 45.5px;
  margin-left: -22.75px;
  margin-top: -22.75px;
  animation: dot-colors 4s ease infinite;
}

@keyframes dot-rotate-1 {
  0% {
    transform: rotate(-105deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.dot:nth-child(1) {
  animation: dot-rotate-1 4s 0s linear infinite;
}

.dot:nth-child(1):before {
  background-color: #FF3270;
  animation: dot-move 4s 0s ease infinite;
}

@keyframes dot-rotate-2 {
  0% {
    transform: rotate(165deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

.dot:nth-child(2) {
  animation: dot-rotate-2 4s 1s linear infinite;
}

.dot:nth-child(2):before {
  background-color: #208BF1;
  animation: dot-move 4s 1s ease infinite;
}

@keyframes dot-rotate-3 {
  0% {
    transform: rotate(435deg);
  }
  100% {
    transform: rotate(810deg);
  }
}

.dot:nth-child(3) {
  animation: dot-rotate-3 4s 2s linear infinite;
}

.dot:nth-child(3):before {
  background-color: #AFE102;
  animation: dot-move 4s 2s ease infinite;
}

@keyframes dot-rotate-4 {
  0% {
    transform: rotate(705deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

.dot:nth-child(4) {
  animation: dot-rotate-4 4s 3s linear infinite;
}

.dot:nth-child(4):before {
  background-color: #FBD301;
  animation: dot-move 4s 3s ease infinite;
}

.text{

    position: absolute;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: 70%;
    left: 36%;
}

.loader{

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10000;
}
/*Loader Ends*/

/*Footer Begins*/

.footer{

  display: flex;
  justify-content:space-between;
  margin-top: 20px;
  background-color: #9575CD;
}

.footerLinks{

  color:#fff !important;
  padding: 10px 0px;
}
/*Footer Begins*/