.circle{
	
	width: 16px;
    height: 16px;
    background-color: #000;
    border-radius: 8px;
    border: 2px solid #fff;
    position: absolute;
    left: 0px;
    top: -3px;
    -webkit-transition: left .6s ease;
}

.cardprogress{

	display: flex;
    position: relative;
}

